// Custom.scss
// Option A: Include all of Bootstrap 
// import fonts


// Include any default variable overrides here (though functions won't be available)
$primary: #382318;
$light: #faf6f0;
$secondary: #DE6A55;
$tertiary: #366865;

$border-color: #382318;
// body bg color


// Theme colors
// https://getbootstrap.com/docs/5.3/customize/color/#theme-colors


// Changing navbar


// Typography


@import "../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here