// Custom.scss

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Sans+3:ital@0;1&display=swap');

$primary: #382318;
$light: rgb(250, 246, 240);
$secondary: #DE6A55;
$tertiary: #366865;

$font-family-sans-serif: "Open Sans", sans-serif;

$border-color: rgb(56, 35, 24);
.btn-outline-secondary:hover {
    color: $light !important;
}

.btn-outline-secondary {
    color: $primary !important;
}

.faq {
    text-decoration: none;
    color: $tertiary;
}

.faq:hover {
    text-decoration: underline;
}

.hero-h6 {
    color: $tertiary !important;
}

.book-link {
    color: $tertiary;
    text-decoration: none;
  
    &:hover {
      text-decoration: underline;
    }
  }

.footer-list {
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
  
      li {
        h6, p {
          margin: 0;
        }
  
        a {
          text-decoration: none;
          
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

.disapear-mobile {
    display: block;

  @media (max-width: 992px) {
    display: none;
  }
}

.hero img {
    height: 350px;
    width: 100%;
    object-fit: cover;
    display: block;
    border-radius: 1.25rem;
}

$h1-font-size: 1rem * 3.815;
$h2-font-size: 1rem * 3.052;
$h3-font-size: 1rem * 2.441;
$h4-font-size: 1rem * 1.953;
$h5-font-size: 1rem * 1.563;
$h6-font-size: 1rem * 1.25;

$line-height-base: 1.6;

@media (min-width: 992px){
    $h1-font-size: 1rem * 12.815;
    $h2-font-size: 1rem * 3.052;
    $h3-font-size: 1rem * 2.441;
    $h4-font-size: 1rem * 1.953;
    $h5-font-size: 1rem * 1.563;
    $h6-font-size: 1rem * 1.25;
    $p-font-size: 1rem * 1;
}

@import "../node_modules/bootstrap/scss/bootstrap";
