// Custom.scss
// Option A: Include all of Bootstrap 
// import fonts


// Include any default variable overrides here (though functions won't be available)
$primary: #382318;
$light: rgb(250, 246, 240);
$secondary: #DE6A55;
$tertiary: #366865;

$border-color: rgb(56, 35, 24);
// buttons hover
.btn-outline-secondary:hover {
    color: $light !important; /* Text color */
}

.btn-outline-secondary {
    color: $primary !important; /* Text color */
}

.faq {
    text-decoration: none;
    color: $tertiary;
}

.faq:hover {
    text-decoration: underline;
}

// image responsiveness for book covers
$book-height-desktop: 410px;
$book-height-tablet: 250px;
$book-height-mobile: 200px;

.book-container {
    width: 100%;
    height: $book-height-desktop;
    overflow: hidden;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    // fix these
    @media (max-width: 768px) {
        height: $book-height-tablet; /* Adjust height for tablets */
    }
    
    @media (max-width: 576px) {
        height: $book-height-mobile; /* Adjust height for mobile screens */
    }
}

// Theme colors
// https://getbootstrap.com/docs/5.3/customize/color/#theme-colors


// Changing navbar


// Typography
$h1-font-size: 1rem * 3.815;
$h2-font-size: 1rem * 3.052;
$h3-font-size: 1rem * 2.441;
$h4-font-size: 1rem * 1.953;
$h5-font-size: 1rem * 1.563;
$h6-font-size: 1rem * 1.25;
// doesnt work 
$p-font-size: 1rem * 1;

$line-height-base: 1.6;

@media (min-width: 992px){
    $h1-font-size: 1rem * 12.815;
    $h2-font-size: 1rem * 3.052;
    $h3-font-size: 1rem * 2.441;
    $h4-font-size: 1rem * 1.953;
    $h5-font-size: 1rem * 1.563;
    $h6-font-size: 1rem * 1.25;
    $p-font-size: 1rem * 1;
}

@import "../node_modules/bootstrap/scss/bootstrap";


// Then add additional custom code here